.techs {
	padding: 100px 70px;
	background-color: var(--techs-bg-color);
}

.techs__title {
	margin: 0;
	padding-bottom: 23px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: -0.88px;
	font-size: 22px;
	border-bottom: solid 1px #dadada;
}

.tech__subtitle {
	margin: 90px 0 0;
	font-size: 50px;
	font-weight: 400;
	line-height: 58px;
	letter-spacing: -2px;
	text-align: center;
}

.tech__text {
	margin: 26px 0 0;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -0.56px;
}

.tech__cards {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.tech__card {
	background-color: #303030;
	border-radius: 10px;
	width: 90px;
	padding: 21px 0 22px;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: -0.56px;
}

@media screen and (max-width: 1024px) {
	.techs {
		padding: 90px 50px;
	}

	.tech__subtitle {
		margin: 80px 0 0;
	}

	.tech__text {
		margin: 22px 0 0;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: -0.48px;
	}

	.tech__cards {
		margin-top: 83px;
	}

	.tech__card {
		padding: 21px 0;
		width: 84px;
		font-size: 12px;
		letter-spacing: -0.48px;
	}
}

@media screen and (max-width: 720px) {
	.tech__card {
		font-size: 10px;
	}
}

@media screen and (max-width: 544px) {
	.techs {
		padding: 70px 18px;
		background-color: #202020;
	}

	.techs__title {
		padding-bottom: 28px;
		letter-spacing: -0.72px;
		font-size: 18px;
		border-bottom: solid 1px #000;
	}

	.tech__subtitle {
		margin: 60px 0 0;
		font-size: 30px;
		line-height: 1.2;
		letter-spacing: -1.2px;
	}

	.tech__text {
		margin: 24px 0 0;
		font-size: 11px;
		line-height: 16px;
		letter-spacing: -0.44px;
	}

	.tech__cards {
		margin: 50px auto;
		flex-wrap: wrap;
		justify-content: normal;
		max-width: 366px;
	}

	.tech__card {
		padding: 21px 0;
		font-size: 12px;
		letter-spacing: -0.48px;
	}
}

@media screen and (max-width: 405px) {
	.tech__cards {
		max-width: 273px;
	}
}

@media screen and (max-width: 320px) {
	.tech__cards {
		max-width: 178px;
	}
}