.promo {
  padding: 160px 0 151px;
  background-color: var(--promo-bg-color);
  border-radius: 10px 10px 0 0;
  width: 94%;
  margin: 20px auto 0;
}

.promo__title {
  margin: 0 auto;
  max-width: 730px;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
}

@media screen and (max-width: 1024px) {
  .promo {
    padding: 350px 0 314px;
    width: 95%;
  }

  .promo__title {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.6px;
  }
}

@media screen and (max-width: 544px) {
  .promo {
    margin-top: 14px;
    padding: 220px 0 212px;
    width: 92%;
  }

  .promo__title {
    font-size: 29px;
    line-height: 37px;
    letter-spacing: -1.16px;
  }
}

