@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

:root {
	--main-bg-color: #202020;
	--main-text-color: #fff;
	--promo-bg-color: #272727;
	--techs-bg-color: #272727;
}
